<%- contentFor('content') %>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Detail</th>
                <th>
                    Author
                </th>
                <th>
                    <a href="/posts/add" class="btn btn-success">Add</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(let post of posts) { %>
            <tr>
                <td><%=post.title %></td>
                <td><%=post.detail %></td>
                <td><%- post.user.fullName %></td>
                <td>
                    <form action="/posts/<%=post.id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>

<%- contentFor('title') %>
List User